@model APM.Repository.Dto.ProjectAllDto
@{
	ViewData["Title"] = "Proje İşlemleri";
}
<style>

	.table td {
		position: relative;
		vertical-align: middle;
		padding: 5px !important;
		text-align: center;
	}
</style>

<!--Database-->
<div class="ecommerce-widget">
	<div class="row" style="justify-content: center;">
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="page-header">
				<h2 class="pageheader-title">Proje İşlemleri</h2>
			</div>
		</div>
		<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
			<div class="card">
				<h5 class="card-header">Proje Bilgileri</h5>
				<button class="btn btn-outline-success" data-toggle="modal" data-target="#create">Yeni Proje Ekle</button>
				<div class="text-center">
					<div class="card-body p-0">
						<div class="table-responsive">
							<div class="table-hover">
								<table class="table table-striped table-bordered first" id="tb">
									<thead class="bg-light">
                                        <tr class="border-0">
                                            <th class="border-0"></th>
                                            <th class="border-0"></th>
                                            <th class="border-0">#</th>
                                            <th class="border-0">Ad</th>
                                            <th class="border-0">Tipi</th>
                                            <th class="border-0">Müsterisi</th>
                                            <th class="border-0">Çalışanlar</th>
                                            <th class="border-0">Durum</th>
                                            <th class="border-0">Seviye</th>
                                            <th class="border-0">Oluşturan</th>
                                            <th class="border-0">Pln. Baş. Tarihi</th>
                                            <th class="border-0">Pln. Btş. Tarihi</th>
                                            <th class="border-0">Başlama Tarihi</th>
                                            <th class="border-0">Bitiş Tarihi</th>
                                            <th class="border-0">Oluşturma Tarihi</th>
                                            <th class="border-0">Oluşturma Saati</th>

                                        </tr>
									</thead>
									<tbody>
										@foreach (var item in Model.ProjectDto)
										{
											<tr id="@item.ID">
												<td><button type="button" data-id="@item.ID" data-toggle="modal" data-target="#edit" class="btn btn-outline-primary fBtnEdit"><i class="far fa-edit"></i></button></td>
                                                <td><button type="button" class="btn btn-outline-danger viewModelDel" data-toggle="modal" data-target="#delete" data-name="@item.NAME" data-id="@item.ID"><i class="fas fa-trash"></i></button> </td>
                                               
												<td id="@item.ID">@item.ID </td>
												<td id="@item.ID-name">@item.NAME</td>
												<td id="@item.ID-type" data-id="@item.PROJECT_TYPE_.ID">@item.PROJECT_TYPE_.TYPE_NAME</td>
												<td id="@item.ID-customer" data-id="@item.CUSTOMER.ID">@item.CUSTOMER.CUSTOMER_NAME</td>
												<td>
													<select class="form-select" id="@item.ID-employee">
														@foreach (var emp in item.EMPLOYEES)
														{
															if (emp.EMPLOYEE != null)
															{
																<option value="@emp.EMPLOYEE.ID">@emp.EMPLOYEE.EMPLOYEE_NAME</option>
															}
														}
													</select>
												</td>
												@if (item.STATUS == true)
												{
													<td id="@item.ID-status">Aktif</td>
												}
												@if (item.STATUS == false)
												{
													<td id="@item.ID-status">Pasif</td>
												}
												<td id="@item.ID-level" data-id="@item.LEVEL.ID">@item.LEVEL.LEVEL_NAME</td>
												<td id="@item.ID-creator" data-id="@item.CREATED_EMPLOYEE.ID">@item.CREATED_EMPLOYEE.EMPLOYEE_NAME @item.CREATED_EMPLOYEE.EMPLOYEE_SURNAME</td>
												<td id="@item.ID-estStart">@item.EST_START_DATE.ToString("dd/MM/yyyy")</td>
												<td id="@item.ID-estEnd">@item.EST_END_DATE.ToString("dd/MM/yyyy")</td>
												<td id="@item.ID-start">@item.START_DATE?.ToString("dd/MM/yyyy")</td>
												<td id="@item.ID-end">@item.END_DATE?.ToString("dd/MM/yyyy")</td>
												<td>@item.CREATED_DATE.ToString("dd/MM/yyyy")</td>
												<td>@item.CREATED_TIME.ToString("hh':'mm':'ss")</td>
												
											</tr>
										}
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!------------Modals --------->
<!-- Delete -->
<div class="modal fade" id="delete" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Proje Sil</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<form asp-action="Delete" method="post" role="form">
				<div class="modal-body">
					<div class="card-body">
						<div class="form-group">
							<label id="NameDel"></label><br />
							Projesini Silmek istediğinize emin misiniz ?
							<input type="hidden" id="IdDel" value="" name="ID" />
						</div>
					</div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-dismiss="modal">Kapat</button>
					<button type="submit" class="btn btn-danger" asp-action="Delete">Sil</button>
				</div>
			</form>
		</div>
	</div>
</div>
<!--Edit-->
<div class="modal fade" id="edit" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Proje Bilgisi Düzenle</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<form id="editForm" role="form">
					<div class="modal-body">
						<div class="card-body">
							<div class="form-group">
								<input type="hidden" name="ID" id="projectID" value="" />
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Proje Adı </label>
								<div class="col-12 col-sm-6 col-lg-6">
									<input id="NAME" type="text" name="NAME" data-parsley-trigger="change" value="" required="" autocomplete="off" data-parsley-maxlength="50" placeholder="Proje Adı" class="form-control">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Tipi</label>
								<div class="col-12 col-sm-6 col-lg-6">
									<select class="form-select" id="TYPE" name="TYPE">
										@foreach (var item in Model.ProjectTypeDto)
										{
											<option value="@item.ID">@item.NAME</option>
										}
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Müsterisi</label>
								<div class="col-12 col-sm-6 col-lg-6">
									<select class="form-select" id="CUSTOMER_ID" name="CUSTOMER_ID">
										@foreach (var item in Model.CustomerDto)
										{
											<option selected value="@item.ID">@item.NAME</option>
										}
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Çalısanları</label>
								<div class="col-12 col-sm-6 col-lg-6">
									<select class="selectpicker" data-width="100%" data-live-search="true" multiple data-actions-box="true" name="NEWPROJECTEMPLOYEE">
										@foreach (var item in Model.EmployeeDto)
										{
											<option value="@item.ID">@item.NAME</option>
										}
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Durumu</label>
								<div class="col-12 col-sm-6 col-lg-6">
									<select class="form-select" id="STATUS" name="STATUS" typeof="bool">
										<option selected value="true">Aktif</option>
										<option value="false">Pasif</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Seviye</label>
								<div class="col-12 col-sm-6 col-lg-6">
									<select class="form-select" id="LEVEL_ID" name="LEVEL_ID">
										@foreach (var item in Model.LevelDto)
										{
											<option value="@item.ID">@item.NAME</option>
										}
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Oluşturan Kişi</label>
								<div class="col-12 col-sm-6 col-lg-6">
									<select class="form-select" id="CREATOR_ID" disabled>
										@foreach (var item in Model.EmployeeDto)
										{
											<option value="@item.ID">@item.NAME @item.SURNAME</option>
										}
									</select>
									<input type="hidden" id="hideCreator" name="CREATOR" value="" />
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Tahmini Başlama Tarihi</label>
								<div class="input-group date col-12 col-sm-6 col-lg-6 datePicker" id="mydatetimepicker1" data-target-input="nearest">
									<input type="text" value="" class="form-control datetimepicker-input" data-target="#mydatetimepicker1" id="EST_START_DATE" name="EST_START_DATE">
									<div class="input-group-append" data-target="#mydatetimepicker1" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Tahmini Bitiş Tarihi</label>
								<div class="input-group date col-12 col-sm-6 col-lg-6 datePicker" id="mydatetimepicker2" data-target-input="nearest">
									<input type="text" value="" class="form-control datetimepicker-input" data-target="#mydatetimepicker2" id="EST_END_DATE" name="EST_END_DATE">
									<div class="input-group-append" data-target="#mydatetimepicker2" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Başlama Tarihi</label>
								<div class="input-group date col-12 col-sm-6 col-lg-6 datePicker" id="mydatetimepicker3" data-target-input="nearest">
									<input type="text" value="" class="form-control datetimepicker-input" data-target="#mydatetimepicker3" id="START_DATE" name="START_DATE" />
									<div class="input-group-append" data-target="#mydatetimepicker3" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Bitiş Tarihi</label>
								<div class="input-group date col-12 col-sm-6 col-lg-6 datePicker" id="mydatetimepicker4" data-target-input="nearest">
									<input type="text" value="" class="form-control datetimepicker-input" data-target="#mydatetimepicker4" id="END_DATE" name="END_DATE" />
									<div class="input-group-append" data-target="#mydatetimepicker4" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group row text-right">
								<div class="col col-sm-10 col-lg-10 offset-sm-1 offset-lg-0">
									<button type="button" class="btn btn-space btn-success" id="BtnEdit">Kaydet</button>
									<button type="button" class="btn btn-space btn-secondary" data-dismiss="modal">Kapat</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
<!--Create-->
<div class="modal fade" id="create" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
	<div class="modal-dialog modal-dialog-centered modal-lg" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLongTitle">Yeni Proje Ekle</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
				<form id="createForm" role="form">
					<div class="modal-body">
						<div class="card-body">
							<div class="form-group">
								<input type="hidden" name="ID" />
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Proje Adı </label>
								<div class="col-12 col-sm-6 col-lg-6">
									<input type="text" name="NAME" data-parsley-trigger="change" value="" required="" autocomplete="off" data-parsley-maxlength="50" placeholder="Proje Adı" class="form-control">
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Tipi</label>
								<div class="col-12 col-sm-6 col-lg-6">
									<select class="form-select" name="TYPE">
										@foreach (var item in Model.ProjectTypeDto)
										{
											<option value="@item.ID">@item.NAME</option>
										}
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Müsterisi</label>
								<div class="col-12 col-sm-6 col-lg-6">
									<select class="form-select" name="CUSTOMER_ID">
										@foreach (var item in Model.CustomerDto)
										{
											<option value="@item.ID">@item.NAME</option>
										}
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Çalısanları</label>
								<div class="col-12 col-sm-6 col-lg-6">
									<select class="selectpicker" data-width="100%" data-live-search="true" multiple data-actions-box="true" name="NEWPROJECTEMPLOYEE">
										@foreach (var item in Model.EmployeeDto)
										{
											<option value="@item.ID">@item.NAME</option>
										}
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Durumu</label>
								<div class="col-12 col-sm-6 col-lg-6">
									<select class="form-select" name="STATUS" typeof="bool">
										<option selected value="true">Aktif</option>
										<option value="false">Pasif</option>
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Seviye</label>
								<div class="col-12 col-sm-6 col-lg-6">
									<select class="form-select" name="LEVEL_ID">
										@foreach (var item in Model.LevelDto)
										{
											<option value="@item.ID">@item.NAME</option>
										}
									</select>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Tahmini Başlama Tarihi</label>
								<div class="input-group date col-12 col-sm-6 col-lg-6 datePicker" id="mydatetimepicker5" data-target-input="nearest">
									<input type="text" value="" class="form-control datetimepicker-input" data-target="#mydatetimepicker5" name="EST_START_DATE">
									<div class="input-group-append" data-target="#mydatetimepicker5" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Tahmini Bitiş Tarihi</label>
								<div class="input-group date col-12 col-sm-6 col-lg-6 datePicker" id="mydatetimepicker6" data-target-input="nearest">
									<input type="text" value="" class="form-control datetimepicker-input" data-target="#mydatetimepicker6" name="EST_END_DATE">
									<div class="input-group-append" data-target="#mydatetimepicker6" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Başlama Tarihi</label>
								<div class="input-group date col-12 col-sm-6 col-lg-6 datePicker" id="mydatetimepicker7" data-target-input="nearest">
									<input type="text" value="" class="form-control datetimepicker-input" data-target="#mydatetimepicker7" name="START_DATE" />
									<div class="input-group-append" data-target="#mydatetimepicker7" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group row">
								<label class="col-12 col-sm-4 col-form-label text-sm-right">Bitiş Tarihi</label>
								<div class="input-group date col-12 col-sm-6 col-lg-6 datePicker" id="mydatetimepicker8" data-target-input="nearest">
									<input type="text" value="" class="form-control datetimepicker-input" data-target="#mydatetimepicker8" name="END_DATE" />
									<div class="input-group-append" data-target="#mydatetimepicker8" data-toggle="datetimepicker">
										<div class="input-group-text"><i class="far fa-calendar-alt"></i></div>
									</div>
								</div>
							</div>
							<div class="form-group row text-right">
								<div class="col col-sm-10 col-lg-10 offset-sm-1 offset-lg-0">
									<button type="button" class="btn btn-space btn-success" id="BtnCreate">Ekle</button>
									<button type="button" class="btn btn-space btn-secondary" data-dismiss="modal">Kapat</button>
								</div>
							</div>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
</div>


@section scripts{
	<script>
		$(".viewModelDel").click(function () {
			var id = $(this).data("id");
			var name = $(this).data("name");

			document.getElementById("NameDel").textContent = name;
			document.getElementById("IdDel").value = id;
		});

		$("#BtnCreate").click(function () {
			$("#createForm").ajaxSubmit({
				url: '/Project/Create',
				type: 'post',
				success: function (result) {
					if (result.status)
						showCreateAlert();
					else
						showAlert2(result.msg);
				}
			})
		});

		$(".fBtnEdit").click(function () {
			var id = $(this).data("id");
			var name = $("#" + id + "-name", "#tb").html();
			var type = $("#" + id + "-type", "#tb").data("id");
			var customer = $("#" + id + "-customer", "#tb").data("id");
			var level = $("#" + id + "-level", "#tb").data("id");
			var estStart = $("#" + id + "-estStart", "#tb").html();
			var estEnd = $("#" + id + "-estEnd", "#tb").html();
			var start = $("#" + id + "-start", "#tb").html();
			var end = $("#" + id + "-end", "#tb").html();
			var creator = $("#" + id + "-creator", "#tb").data("id");
			var status = $("#" + id + "-status", "#tb").html();

			var employees = new Array();
			$("#" + id + "-employee>option").each(function () {
				employees.push($(this).val());
			})

			if (status == "Aktif")
				status = true;
			else if (status == "Pasif")
				status = false;

			document.getElementById("projectID").value = id;
			document.getElementById("NAME").value = name;
			document.getElementById("TYPE").value = type;
			document.getElementById("CUSTOMER_ID").value = customer;
			document.getElementById("LEVEL_ID").value = level;
			document.getElementById("EST_START_DATE").value = estStart;
			document.getElementById("EST_END_DATE").value = estEnd;
			document.getElementById("START_DATE").value = start;
			document.getElementById("END_DATE").value = end;
			document.getElementById("CREATOR_ID").value = creator;
			document.getElementById("hideCreator").value = creator;
			document.getElementById("STATUS").value = status;

			$('select[name=NEWPROJECTEMPLOYEE]').val(employees);
			$('.selectpicker').selectpicker('refresh');
		})

		$("#BtnEdit").click(function () {
			$("#editForm").ajaxSubmit({
				url: '/Project/Edit', type: 'post',
				success: function (result) {
					if (result.status) {
						showEditAlert();
					}
					else
						showAlert2(result.msg);
				}
			})
		});

		$('.datePicker').datetimepicker({
			format: 'DD.MM.YYYY',
		});

		$('.selectpicker').selectpicker({
			noneSelectedText: 'Seçim Yapılmadı',
			selectAllText: 'Tümü',
			deselectAllText: 'Hiçbiri',
			size: 'auto',

		});
		; (function ($) {
			$.fn.datepicker.language['tr'] = {
				days: ['Pazar', 'Pazartesi', 'Salı', 'Çarşamba', 'Perşembe', 'Cuma', 'Cumartesi'],
				daysShort: ['Paz', 'Pzt', 'Sal', 'Çar', 'Per', 'Cum', 'Cmt'],
				daysMin: ['Pz', 'Pt', 'Sa', 'Ça', 'Pe', 'Cu', 'Ct'],
				months: ['Ocak', 'Şubat', 'Mart', 'Nisan', 'Mayıs', 'Haziran', 'Temmuz', 'Ağustos', 'Eylül', 'Ekim', 'Kasım', 'Aralık'],
				monthsShort: ['Oca', 'Şub', 'Mar', 'Nis', 'May', 'Haz', 'Tem', 'Ağu', 'Eyl', 'Eki', 'Kas', 'Ara'],
				today: 'Bugün',
				clear: 'Temizle',
				dateFormat: 'dd.mm.yyyy',
				timeFormat: 'hh:ii',
				firstDay: 1
			};
		})(jQuery);

	</script>

	<script src="https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.6.2/js/dataTables.buttons.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jszip/3.1.3/jszip.min.js"></script>
	<script src="https://cdn.datatables.net/buttons/1.6.2/js/buttons.html5.min.js"></script>
}
